@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Outfit:wght@300;400;600&family=Playfair+Display:ital@1&family=Poppins&family=Red+Hat+Display:wght@500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Montserrat:wght@300&family=Outfit:wght@300;400;600&family=Playfair+Display:ital@1&family=Poppins&family=Red+Hat+Display:wght@500;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  color: #fff;
  background: #212428;
  width: 100vw;
}

.backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.show-backdrop {
  display: block;
}

.btn-menus {
  display: none;
  position: fixed;
  padding-left: 10px;
}
.btn-menus .toggle-button {
  width: 4rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0 20px;
}
.btn-menus .toggle-button:focus {
  outline: none;
}
.btn-menus .toggle-button .toggle-button__bar {
  width: 100%;
  height: 0.1rem;
  background: #fff;
  display: block;
  margin: 0.4rem 0;
}

.main-nav {
  margin: 0px auto;
  width: 100%;
  position: fixed;
  top: 0;
}
.main-nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 210px;
}
.main-nav .container .nav-brand a img {
  width: 55px;
  height: 55px;
  cursor: pointer;
  border-radius: 50%;
}
.main-nav .container .main-nav--items {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
  list-style-type: none;
}
.main-nav .container .main-nav--items li a {
  text-decoration: none;
  color: #CED0D4;
  font-size: 1.13rem;
}
.main-nav .container .main-nav--items li a:hover {
  color: #fff;
  font-weight: bold;
}
.main-nav .container .main-nav--items .nav-link--active {
  border-bottom: 2px solid #ff014f;
  color: #fff;
  font-weight: bold;
}

.nav--active {
  background-color: #222;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease-out;
}
.nav--active .container {
  padding-top: 5px;
  padding-bottom: 3px;
}

.mobile-nav {
  display: none;
  background: #3c3e41;
  box-shadow: 7px 0px 5px 0px rgba(13, 13, 13, 0.65);
  position: fixed;
  width: 60vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: auto;
  z-index: 101;
}
.mobile-nav .container {
  padding: 20px 32px;
  display: flex;
  flex-direction: column;
  row-gap: 95px;
}
.mobile-nav .container .btn-exit {
  margin-top: 3px;
}
.mobile-nav .container .mobile-nav--items {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.mobile-nav .container .mobile-nav--items li a {
  text-decoration: none;
  color: #CED0D4;
  font-size: 1.13rem;
}
.mobile-nav .container .mobile-nav--items li a:hover {
  color: #fff;
}
.mobile-nav .container .mobile-nav--items .nav-link--active {
  border-bottom: 2px solid #ff014f;
  color: #fff;
  font-weight: bold;
}
.mobile-nav .container .author {
  position: absolute;
  bottom: 40px;
  left: 10px;
}
.mobile-nav .container .author h2 {
  font-weight: 500;
  font-size: 1.7rem;
  color: #ff014f;
  margin-bottom: -6px;
}
.mobile-nav .container .author a {
  color: #fff;
}

.show-mobile--nav {
  display: block;
}

.main {
  margin: 110px auto;
  width: 100%;
}
.main .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 275px;
}
.main .container .line--separator {
  border-bottom: 1px solid black;
  margin: 32px auto;
  width: 100%;
}
.main .container .section-home {
  display: flex;
  justify-content: start;
  -moz-column-gap: 87px;
       column-gap: 87px;
  align-items: center;
  width: 100%;
}
.main .container .section-home .personal__header {
  width: 50%;
}
.main .container .section-home .personal__header h1 {
  font-weight: 700;
  font-size: 4.4rem;
  color: #ff014f;
}
.main .container .section-home .personal__header h3 {
  font-size: 2.5rem;
  letter-spacing: 1.8px;
  text-decoration: underline;
  margin-top: -25px;
}
.main .container .section-home .personal__header p {
  font-size: 1rem;
  margin-top: 30px;
  margin-right: 18px;
  line-height: 1.8;
  letter-spacing: 1.2px;
  color: #CED0D4;
}
.main .container .section-home .personal__header .social-link--items {
  list-style-type: none;
  display: flex;
  justify-content: start;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin-left: -10px;
  padding-top: 10px;
}
.main .container .section-home .personal__header .social-link--items li a {
  cursor: pointer;
}
.main .container .section-home .personal__header .social-link--items li a img {
  width: 30px;
  height: 30px;
}
.main .container .section-home .personal__header .social-link--items li a .svg-linkedin--img {
  width: 55px;
  height: 55px;
}
.main .container .section-home .personal__header .social-link--items li a .svg-github--img {
  width: 35px;
  height: 35px;
}
.main .container .section-home .card__my--image {
  width: 50%;
  height: 85vh;
}
.main .container .section-home .card__my--image img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
}
.main .container .section-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  -moz-column-gap: 50px;
       column-gap: 50px;
  row-gap: 45px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-top: 5px;
}
.main .container .section-about h2 {
  font-size: 2.5rem;
  margin-top: -20px;
}
.main .container .section-about .statement {
  padding: 32px;
  border-radius: 15px;
  font-size: 1.1rem;
  background: #3c3e41;
  box-shadow: 0px 0px 5px 1px rgba(102, 102, 102, 0.62);
  color: #CED0D4;
}
.main .container .section-about .statement:nth-of-type(1), .main .container .section-about .statement:nth-of-type(2) {
  grid-column: 1/3;
}
.main .container .section-about .qualifications {
  grid-row: 4/6;
  background: #3c3e41;
  box-shadow: 0px 0px 5px 1px rgba(102, 102, 102, 0.62);
  color: #CED0D4;
  border-radius: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.main .container .section-about .qualifications .qualification {
  padding: 32px;
}
.main .container .section-about .qualifications .qualification h3 {
  font-size: 1.4rem;
}
.main .container .section-about .qualifications .qualification .qualification-items {
  padding: 15px;
  font-size: 1.1rem;
}
.main .container .section-experience {
  width: 100%;
}
.main .container .section-experience .card__header h2 {
  font-size: 40px;
}
.main .container .section-experience .exp-items {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 25px;
       column-gap: 25px;
  row-gap: 20px;
  margin-top: 32px;
}
.main .container .section-experience .exp-items .work-experience {
  display: flex;
  justify-content: start;
  align-items: end;
  row-gap: 8px;
  flex-direction: column;
  color: #CED0D4;
}
.main .container .section-experience .exp-items .work-experience .card__header {
  display: flex;
  justify-content: start;
  align-items: start;
  row-gap: 8px;
  flex-direction: column;
}
.main .container .section-experience .exp-items .work-experience .work--items {
  margin-top: 5px;
  align-self: flex-end;
}
.main .container .section-experience .exp-items .ojt-experience {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  row-gap: 8px;
  color: #CED0D4;
}
.main .container .section-experience .exp-items .ojt-experience .ojt--items {
  margin-left: 20px;
  padding-left: 20px;
}
.main .container .section-experience .exp-items .ojt--img,
.main .container .section-experience .exp-items .work--img {
  height: 425px;
  width: 100%;
}
.main .container .section-experience .exp-items .ojt--img img,
.main .container .section-experience .exp-items .work--img img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 3px rgba(64, 64, 64, 0.75);
}
.main .container .section-skill {
  width: 100%;
}
.main .container .section-skill .card__header h2 {
  font-size: 40px;
}
.main .container .section-skill .skill--items {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px 0;
  -moz-column-gap: 72px;
       column-gap: 72px;
}
.main .container .section-skill .skill--items .card__skill {
  width: 100%;
  background: #3c3e41;
  box-shadow: 0px 0px 3px 1px rgba(115, 115, 115, 0.75);
  border-radius: 15px;
  padding-top: 10px;
}
.main .container .section-skill .skill--items .card__skill h3 {
  font-size: 2rem;
  padding: 10px 0 0 32px;
}
.main .container .section-skill .skill--items .card__skill .skill--stats {
  padding: 10px 32px 32px 32px;
}
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 10px;
}
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-info p {
  font-size: 24px;
  color: #CED0D4;
}
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-info span {
  color: #CED0D4;
}
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar {
  height: 32px;
  background: #282828;
  border-radius: 3px;
}
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .htm,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .css,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .js,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .sass,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .bootstrap,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .react,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .drf,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .php,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .postgres,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .sqlite,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .msql,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .firebase {
  height: 32px;
  background: linear-gradient(145deg, #f02981 0%, #c81901 100%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .htm {
  width: 99%;
}
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .css {
  width: 95%;
}
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .js {
  width: 89%;
}
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .sass {
  width: 95%;
}
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .bootstrap {
  width: 82%;
}
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .react {
  width: 97%;
}
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .drf {
  width: 98%;
}
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .php {
  width: 86%;
}
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .postgres {
  width: 97%;
}
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .sqlite {
  width: 89%;
}
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .msql {
  width: 95%;
}
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .firebase {
  width: 90%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #1e2125;
  margin-top: 48px;
}
.footer .container {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 20px;
  color: #CED0D4;
}
.footer .container .copyright span {
  color: #fff;
}
.footer .container .social-link--items {
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  list-style-type: none;
}
.footer .container .social-link--items svg {
  width: 30px;
  height: 30px;
}
.footer .container .social-link--items .linkedin--svg {
  width: 40px;
  height: 40px;
}

.to--top {
  background: #ff014f;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}

.to--top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}

@media (min-width: 1281px) and (max-width: 1650px) {
  .main-nav .container {
    padding: 20px 120px;
  }
  .nav--active .container {
    padding-top: 5px;
    padding-bottom: 3px;
  }
  .main .container {
    padding: 5px 135px;
  }
  .main .container .section-home .personal__header {
    width: 50%;
  }
  .main .container .section-home .personal__header h1 {
    font-size: 4rem;
  }
  .main .container .section-home .personal__header h3 {
    font-size: 2rem;
    letter-spacing: 2px;
    text-decoration: underline;
    margin-top: -15px;
  }
  .main .container .section-home .card__my--image {
    width: 50%;
    height: 80vh;
  }
  .main .container .section-experience .exp-items .work-experience .work--items {
    padding-left: 40px;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  .main-nav .container {
    padding: 20px 56px;
  }
  .nav--active .container {
    padding-top: 5px;
    padding-bottom: 3px;
  }
  .main .container {
    padding: 5px 65px;
  }
  .main .container .section-home .personal__header {
    width: 50%;
  }
  .main .container .section-home .personal__header h1 {
    font-size: 3.8rem;
  }
  .main .container .section-home .personal__header h3 {
    font-size: 2rem;
    letter-spacing: 2px;
    text-decoration: underline;
    margin-top: -15px;
  }
  .main .container .section-home .card__my--image {
    width: 50%;
    height: 80vh;
  }
}
@media (min-width: 850px) and (max-width: 1024px) {
  .main-nav .container {
    padding: 20px 32px;
  }
  .nav--active .container {
    padding-top: 5px;
    padding-bottom: 3px;
  }
  .main .container {
    padding: 5px 42px;
  }
  .main .container .section-home {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .main .container .section-home .personal__header {
    width: 50%;
  }
  .main .container .section-home .personal__header h1 {
    font-size: 3.2rem;
  }
  .main .container .section-home .personal__header h3 {
    font-size: 1.7rem;
    letter-spacing: 2px;
    text-decoration: underline;
    margin-top: -12px;
  }
  .main .container .section-home .personal__header p {
    font-size: 0.9rem;
    margin-top: 20px;
  }
  .main .container .section-home .personal__header .social-link--items li a img {
    width: 20px;
    height: 20px;
  }
  .main .container .section-home .personal__header .social-link--items li a .svg-linkedin--img {
    width: 35px;
    height: 35px;
  }
  .main .container .section-home .personal__header .social-link--items li a .svg-github--img {
    width: 25px;
    height: 25px;
  }
  .main .container .section-home .card__my--image {
    height: 79vh;
  }
  .main .container .section-about .statement:nth-of-type(1), .main .container .section-about .statement:nth-of-type(2), .main .container .section-about .statement:nth-of-type(3) {
    grid-column: 1/3;
  }
  .main .container .section-about .qualifications {
    grid-row: 5;
    grid-column: 2;
  }
  .main .container .section-experience .exp-items .work-experience .work--items {
    padding-left: 40px;
  }
  .main .container .section-skill .skill--items {
    -moz-column-gap: 32px;
         column-gap: 32px;
  }
  .main .container .section-skill .skill--items .card__skill h3 {
    font-size: 1.7rem;
    padding: 10px 0 0 32px;
    margin-bottom: -5px;
  }
  .main .container .section-skill .skill--items .card__skill .skill--stats .skill-info p {
    font-size: 20px;
    color: #CED0D4;
  }
  .main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar {
    height: 25px;
  }
  .main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .htm,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .css,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .js,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .sass,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .bootstrap,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .react,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .drf,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .php,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .postgres,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .sqlite,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .msql,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .firebase {
    height: 25px;
  }
}
@media (min-width: 750px) and (max-width: 849px) {
  .main-nav {
    display: none;
  }
  .btn-menus {
    display: block;
  }
  .main {
    margin: 20px auto;
  }
  .main .container {
    padding: 55px 42px 0px 42px;
  }
  .main .container .section-home {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .main .container .section-home .personal__header {
    width: 50%;
  }
  .main .container .section-home .personal__header h1 {
    font-size: 3rem;
  }
  .main .container .section-home .personal__header h3 {
    font-size: 1.7rem;
    letter-spacing: 2px;
    text-decoration: underline;
    margin-top: -12px;
  }
  .main .container .section-home .personal__header p {
    font-size: 0.9rem;
    margin-top: 20px;
  }
  .main .container .section-home .personal__header .social-link--items li a img {
    width: 20px;
    height: 20px;
  }
  .main .container .section-home .personal__header .social-link--items li a .svg-linkedin--img {
    width: 35px;
    height: 35px;
  }
  .main .container .section-home .personal__header .social-link--items li a .svg-github--img {
    width: 25px;
    height: 25px;
  }
  .main .container .section-home .card__my--image {
    height: 75vh;
    padding-bottom: 32px;
  }
  .main .container .section-about .statement:nth-of-type(1), .main .container .section-about .statement:nth-of-type(2), .main .container .section-about .statement:nth-of-type(3) {
    grid-column: 1/3;
  }
  .main .container .section-about .qualifications {
    grid-row: 5;
    grid-column: 2;
  }
  .main .container .section-experience .exp-items .work-experience .work--items {
    padding-left: 40px;
  }
  .main .container .section-skill .skill--items {
    -moz-column-gap: 32px;
         column-gap: 32px;
  }
  .main .container .section-skill .skill--items .card__skill h3 {
    font-size: 1.5rem;
    padding: 10px 0 0 32px;
    margin-bottom: -5px;
  }
  .main .container .section-skill .skill--items .card__skill .skill--stats .skill-info p {
    font-size: 18px;
    color: #CED0D4;
  }
  .main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar {
    height: 20px;
  }
  .main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .htm,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .css,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .js,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .sass,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .bootstrap,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .react,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .drf,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .php,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .postgres,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .sqlite,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .msql,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .firebase {
    height: 20px;
  }
}
@media (min-width: 481px) and (max-width: 749px) {
  .main-nav {
    display: none;
  }
  .btn-menus {
    display: block;
    padding-left: 0px;
    margin-left: -1px;
    margin-top: 4px;
  }
  .main {
    margin: 20px auto;
  }
  .main .container {
    padding: 32px 15px 0px 20px;
  }
  .main .container .section-home {
    -moz-column-gap: 5px;
         column-gap: 5px;
  }
  .main .container .section-home .personal__header h1 {
    font-size: 1.8rem;
  }
  .main .container .section-home .personal__header h3 {
    font-size: 0.8rem;
    letter-spacing: 2px;
    text-decoration: underline;
    margin-top: -6px;
  }
  .main .container .section-home .personal__header p {
    font-size: 0.6rem;
    margin-top: 20px;
  }
  .main .container .section-home .personal__header .social-link--items li a img {
    width: 15px;
    height: 15px;
  }
  .main .container .section-home .personal__header .social-link--items li a .svg-linkedin--img {
    width: 28px;
    height: 28px;
  }
  .main .container .section-home .personal__header .social-link--items li a .svg-github--img {
    width: 18px;
    height: 18px;
  }
  .main .container .section-home .card__my--image {
    height: 55vh;
    padding-bottom: 32px;
  }
  .main .container .section-about {
    row-gap: 20px;
  }
  .main .container .section-about h2 {
    font-size: 1.5rem;
    margin-top: -10px;
    margin-bottom: -1px;
  }
  .main .container .section-about .statement {
    padding: 10px;
    border-radius: 10px;
    font-size: 0.7rem;
  }
  .main .container .section-about .statement:nth-of-type(1), .main .container .section-about .statement:nth-of-type(2), .main .container .section-about .statement:nth-of-type(3), .main .container .section-about .statement:nth-of-type(4) {
    grid-column: 1/3;
  }
  .main .container .section-about .qualifications {
    grid-row: 6;
    grid-column: 1/3;
    width: 305px;
  }
  .main .container .section-about .qualifications .qualification {
    padding: 10px;
  }
  .main .container .section-about .qualifications .qualification h3 {
    font-size: 1rem;
  }
  .main .container .section-about .qualifications .qualification .qualification-items {
    padding: 10px 0 0 20px;
    font-size: 0.7rem;
  }
  .main .container .section-experience {
    margin-top: -14px;
  }
  .main .container .section-experience .card__header h2 {
    font-size: 1.5rem;
  }
  .main .container .section-experience .exp-items .work--img {
    width: 45vw;
    height: 40vh;
  }
  .main .container .section-experience .exp-items .work-experience .card__header h3 {
    font-size: 1rem;
  }
  .main .container .section-experience .exp-items .work-experience .card__header p {
    font-size: 0.7rem;
  }
  .main .container .section-experience .exp-items .work-experience .work--items {
    padding-left: 40px;
    font-size: 0.6rem;
  }
  .main .container .section-experience .exp-items .ojt-experience .card__header h3 {
    font-size: 1rem;
  }
  .main .container .section-experience .exp-items .ojt-experience .card__header p {
    font-size: 0.7rem;
  }
  .main .container .section-experience .exp-items .ojt-experience .ojt--items {
    font-size: 0.6rem;
  }
  .main .container .section-experience .exp-items .ojt--img {
    width: 45vw;
    height: 40vh;
  }
  .main .container .section-skill {
    margin-top: -14px;
    margin-bottom: -32px;
  }
  .main .container .section-skill .card__header h2 {
    font-size: 1.5rem;
  }
  .main .container .section-skill .skill--items {
    -moz-column-gap: 12px;
         column-gap: 12px;
  }
  .main .container .section-skill .skill--items .card__skill h3 {
    font-size: 1.3rem;
    padding: 10px 0 0 32px;
    margin-bottom: -5px;
  }
  .main .container .section-skill .skill--items .card__skill .skill--stats .skill-info p {
    font-size: 11px;
    color: #CED0D4;
  }
  .main .container .section-skill .skill--items .card__skill .skill--stats .skill-info span {
    font-size: 9px;
  }
  .main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar {
    height: 10px;
  }
  .main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .htm,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .css,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .js,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .sass,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .bootstrap,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .react,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .drf,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .php,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .postgres,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .sqlite,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .msql,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .firebase {
    height: 10px;
  }
  .footer {
    margin-top: 48px;
  }
  .footer .container {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    -moz-column-gap: 15px;
         column-gap: 15px;
    padding: 10px;
    color: #CED0D4;
  }
  .footer .container .copyright span {
    color: #fff;
  }
  .footer .container .social-link--items {
    -moz-column-gap: 5px;
         column-gap: 5px;
  }
  .footer .container .social-link--items svg {
    width: 20px;
    height: 20px;
  }
  .footer .container .social-link--items .linkedin--svg {
    width: 30px;
    height: 30px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .main-nav {
    display: none;
  }
  .btn-menus {
    display: block;
    padding-left: 0px;
    margin-left: -1px;
    margin-top: 4px;
  }
  .main {
    margin: 20px auto;
  }
  .main .container {
    padding: 32px 5px 0px 5px;
  }
  .main .container .section-home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    width: 100vw;
  }
  .main .container .section-home .personal__header {
    width: 100%;
    padding-left: 5px;
  }
  .main .container .section-home .personal__header h1 {
    font-size: 1.8rem;
  }
  .main .container .section-home .personal__header h3 {
    font-size: 0.8rem;
    letter-spacing: 2px;
    text-decoration: underline;
    margin-top: -6px;
  }
  .main .container .section-home .personal__header p {
    font-size: 0.6rem;
    margin-top: 20px;
  }
  .main .container .section-home .personal__header .social-link--items {
    padding: 3px;
    -moz-column-gap: 5px;
         column-gap: 5px;
  }
  .main .container .section-home .personal__header .social-link--items li:nth-of-type(3), .main .container .section-home .personal__header .social-link--items li:nth-of-type(4) {
    padding-left: 5px;
  }
  .main .container .section-home .personal__header .social-link--items li a img {
    width: 15px;
    height: 15px;
  }
  .main .container .section-home .personal__header .social-link--items li a .svg-linkedin--img {
    width: 28px;
    height: 28px;
  }
  .main .container .section-home .personal__header .social-link--items li a .svg-github--img {
    width: 18px;
    height: 18px;
  }
  .main .container .section-home .card__my--image {
    height: 50vh;
    width: 100%;
    padding: 10px 8px;
  }
  .main .container .section-about {
    row-gap: 20px;
  }
  .main .container .section-about h2 {
    font-size: 1.2rem;
    margin-top: -10px;
    margin-bottom: -1px;
  }
  .main .container .section-about .statement {
    padding: 10px;
    border-radius: 10px;
    font-size: 0.7rem;
  }
  .main .container .section-about .statement:nth-of-type(1), .main .container .section-about .statement:nth-of-type(2), .main .container .section-about .statement:nth-of-type(3), .main .container .section-about .statement:nth-of-type(4) {
    grid-column: 1/3;
  }
  .main .container .section-about .qualifications {
    grid-row: 6;
    grid-column: 1/3;
    width: 305px;
  }
  .main .container .section-about .qualifications .qualification {
    padding: 10px;
  }
  .main .container .section-about .qualifications .qualification h3 {
    font-size: 1rem;
  }
  .main .container .section-about .qualifications .qualification .qualification-items {
    padding: 10px 0 0 20px;
    font-size: 0.7rem;
  }
  .main .container .section-experience {
    margin-top: -14px;
    margin-bottom: -20px;
  }
  .main .container .section-experience .card__header {
    margin-top: -5px;
    margin-bottom: -15px;
  }
  .main .container .section-experience .card__header h2 {
    font-size: 1.2rem;
  }
  .main .container .section-experience .exp-items {
    grid-template-columns: 1fr;
  }
  .main .container .section-experience .exp-items .work--img {
    width: 100vw;
    height: 25vh;
    padding: 0 5px;
  }
  .main .container .section-experience .exp-items .work-experience {
    padding: 0 5px;
    justify-content: center;
    align-items: flex-start;
  }
  .main .container .section-experience .exp-items .work-experience .card__header h3 {
    font-size: 0.7rem;
    margin-bottom: -7px;
  }
  .main .container .section-experience .exp-items .work-experience .card__header p {
    font-size: 0.7rem;
  }
  .main .container .section-experience .exp-items .work-experience .card__header p:nth-of-type(2) {
    margin-top: -6px;
    margin-bottom: 2px;
  }
  .main .container .section-experience .exp-items .work-experience .work--items {
    padding-left: 16px;
    font-size: 0.6rem;
    align-self: flex-start;
  }
  .main .container .section-experience .exp-items .ojt-experience .card__header {
    padding: 0 5px;
  }
  .main .container .section-experience .exp-items .ojt-experience .card__header h3 {
    font-size: 0.7rem;
  }
  .main .container .section-experience .exp-items .ojt-experience .card__header p {
    font-size: 0.7rem;
  }
  .main .container .section-experience .exp-items .ojt-experience .card__header p:nth-of-type(2) {
    margin-bottom: 10px;
  }
  .main .container .section-experience .exp-items .ojt-experience .ojt--items {
    font-size: 0.6rem;
    padding-left: 1px;
  }
  .main .container .section-experience .exp-items .ojt--img {
    width: 100vw;
    height: 25vh;
    grid-row: 3;
    padding: 0 5px;
    margin-top: -5px;
    margin-bottom: -2px;
  }
  .main .container .section-skill {
    margin-top: -14px;
    margin-bottom: -32px;
  }
  .main .container .section-skill .card__header h2 {
    font-size: 1.2rem;
  }
  .main .container .section-skill .skill--items {
    row-gap: 28px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
  }
  .main .container .section-skill .skill--items .card__skill h3 {
    font-size: 1.3rem;
    padding: 10px 0 0 32px;
    margin-bottom: -5px;
  }
  .main .container .section-skill .skill--items .card__skill .skill--stats .skill-info p {
    font-size: 11px;
    color: #CED0D4;
  }
  .main .container .section-skill .skill--items .card__skill .skill--stats .skill-info span {
    font-size: 9px;
  }
  .main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar {
    height: 10px;
  }
  .main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .htm,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .css,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .js,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .sass,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .bootstrap,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .react,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .drf,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .php,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .postgres,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .sqlite,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .msql,
.main .container .section-skill .skill--items .card__skill .skill--stats .skill-bar .firebase {
    height: 10px;
  }
  .footer {
    margin-top: 49px;
  }
  .footer .container {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    -moz-column-gap: 15px;
         column-gap: 15px;
    padding: 10px;
    color: #CED0D4;
  }
  .footer .container .copyright p {
    font-size: 12px;
    margin-top: -6px;
  }
  .footer .container .copyright span {
    color: #fff;
  }
  .footer .container .social-link--items {
    -moz-column-gap: 5px;
         column-gap: 5px;
  }
  .footer .container .social-link--items svg {
    width: 20px;
    height: 20px;
  }
  .footer .container .social-link--items .linkedin--svg {
    width: 30px;
    height: 30px;
  }
}/*# sourceMappingURL=style.css.map */